.slidein {
  /* for chrome and safari*/
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 2s;
  -webkit-animation-name: slidein;
  
  /*for firefox*/
  -moz-animation-duration: 1s;
  -moz-animation-delay: 2s;
  -moz-animation-name: slidein;

  animation-duration: 2s;
  animation-delay: 2s;
  animation-name: slidein;
}

@-webkit-keyframes slidein {
  from {
      margin-left: 100%;
      width: 1000%;
  }
  to {
      margin-left: 0%;
      width: 100%;
  }
}

@-moz-keyframes slidein {
  from {
      margin-left: 100%;
      width: 1000%;
  }
  to {
      margin-left: 0%;
      width: 100%;
  }
}

@keyframes slidein {
  from {
      margin-left: 100%;
      width: 1000%;
  }
  to {
      margin-left: 0%;
      width: 100%;
  }
}