@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fromleft {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes fromright {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

.image.is-visible {
  animation: fromleft 2s;
}

.from-left.is-visible {
  animation: fromleft 2s;
}

.from-right.is-visible {
  animation: fromright 2s;
}