@media only screen and (max-width: 600px) {
  html {
    font-size: 14px !important;
  }
}

@media only screen and (min-width: 600px) {
  html {
    font-size: 14px !important;
  }
}

@media only screen and (min-width: 768px){
  html {
    font-size: 14px !important;
  }
}

@media only screen and (min-width: 992px) {
  html {
    font-size: 16px !important;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 18px !important;
  }
}

html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

img {
  margin: auto;
  display: inline-block;
}

.row {
  margin: 20px 0 50px 0 !important;
}

#landing {
  border-bottom: 3px solid #00bcd4;
}

#portfolio {
  margin-top: 30px;
}

.parallax-container {
  height: 100vh !important;
}

.parallax {
  filter: blur(20px);
}
    
.valign-wrapper{
  justify-content: center;
}

.descriptor {
  overflow: hidden;
}

.down-button {
  position: absolute;
  margin-top: 800px;
}

.dark {
  background-color: #393E3F;
  padding: 0 0 0 0;
}

.btn-row > a {
  margin: 0 10px 0 10px;
  justify-content: center;
}

.material-icons.md-dark { 
  color: rgba(0, 0, 0 ); 
}

.imz {
  overflow: hidden;
}