@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (min-width: 600px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px){
  html {
    font-size: 14px;
  }
}

@media only screen and (min-width: 992px) {
  html {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 18px;
  }
}

:root {
  --background: image-set(url('/assets/circle2.png') type('image/png'));
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

h2 {
  -webkit-text-stroke: 0.12rem rgb(49, 49, 49); /* width and color */
  color: #fff;
}

img {
  border-radius: 100rem;
}

.main-container {
  height: 100vh;
  place-content: center;
}

.content-box {
  border-radius: 1.5rem;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}

#background {
  position: fixed;
  z-index: -1;
  filter: blur(clamp(0px, calc(50px * var(--scroll, 0) + -5px), 10px)) brightness(clamp(.7, calc(-.5 * var(--scroll, 0) + .85), .8));
  inset: -30px;
  background: linear-gradient(to bottom, rgb(33, 23, 206), rgb(64, 116, 221));
}

#background2 {
  position: fixed;
  z-index: -1;
  filter: blur(clamp(0px, calc(50px * var(--scroll, 0) + -5px), 10px)) brightness(clamp(.7, calc(-.5 * var(--scroll, 0) + .85), .8));
  inset: 0.1rem;
  background: var(--background) center/contain no-repeat;
  animation: rotator 45s infinite linear;
}

.dark {
  background-color: #393E3F;
}

#portfolio {
  min-height: 90vh;
  width: 100%;
}

.footer {
  margin-top: 3rem;
  overflow: hidden;
}